body {
  background-color: #000;
  color: #fff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;;
  overflow: hidden;
}

p, h3, h4 {
  font-size: 20px;
  margin: 0px;
}

h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  padding-top: 15px;
}

#sonos {
  position: absolute;
  top: 270px;
  right: 0px;
  width: 180px;
}

#calendar {
  position: absolute;
  top: 85px;
  left: 0px;
  display: inline-block;
  width: 500px;
}

#currentTime {
  display: inline-block;
  font-size: 60px;
  text-align: center;
  width: 180px;
}

#currentSeconds {
  display: inline-block;
  font-size: 150px;
  text-align: center;
  line-height: 0.70;
  width: 180px;
}

#timeContainer {
  position: absolute;
  right: 0px;
  top:85px;
  width: 180px;
}

#currentDate {
  margin-top: 35px;
  font-size: 32px;
  text-align: center;
  width: 100%;
}

#excuse {
  bottom: 5px;
  font-size: 32px;
  text-align: center;
  width: 100%;
  position: absolute;
}


